* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #D3D3D3;
    max-width: 1000px;
    margin: auto;
  }
 
  .jumbotron{
    width:100%;
    display: flex;
    background: #fafafa;
    box-shadow: -1px -1px 28px -6px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px -1px 28px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px -1px 28px -6px rgba(0,0,0,0.4);
    padding:20px;
    margin-bottom:50px;
  }
  .profile_btn{
    float:right;
    border-radius: 75px;
    padding: 0;
    border:0;
  }

  .user{
    width:100px;
    height:100px;
    position:fixed;
    right:20px;
  }
  .post{
    position:absolute;
    right:20px;
    top:150px;
  }
  #more{
    display: none;
  }
  #myBtn{
    z-index: 1000;
  }
  .content{
    width:100%;
  }
  .pers_profile{
   
    width:150px;
  }
  .profile{
    margin-right:20px;
    width:100px;
    height:100px;
    
    float:left;
  }
  .textcont{
    word-wrap: break-word;
    overflow-wrap: break-word;
    width:750px;
  }
  .login{
    position:absolute;
    right:20px;
  }
  .header {
    
    padding: 2px;
    font-size: 40px;
    text-align: center;
    background: white;
    margin-bottom:50px;
  }
  
  .button{
    border:4px solid red;
    background-color:blue;
    color:black;
    font-size:18px;
    padding: 14px 30px;
    margin:30px;
    cursor: pointer;
  }
  
  .leftcolumn {   
    margin:auto;
    width: 100%;
  }
  

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .readmore-btn{
    font-weight: bold;
  }
  .logintext{
    color:black;
    padding: none;
    margin: none;
  }
  a{
    padding:none;
    margin:none;
    color: black;
    text-decoration: none;
  }
  .card p{
    font-size:16px;
    line-height: 21px;
    height: 40px;
    overflow: hidden;
  }
  .card.showContent p{
    height: auto;
  }
  
  
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }