{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type ="text/css" href="{% static 'home/css/bootstrap.css' %}"/> 
    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}"/>
     
  

    
  </head>

  <body>

  <div class="header">
    <div class="sidebar">
      {% if user.is_authenticated %}
      <a href="postedit"><button class="btn btn-secondary post">+</button></a>
      
      <a href="logout"><img class="rounded-circle user" src="{{ user.profile.image.url }}" alt=""></a>
      {% else %}
      <a href="login"><button type="button" class="btn btn-primary login">Login/Signup</button></a>
      {% endif %}
    </div>
    
    <h2><a style="text-decoration: none; color: black;" href="/">Test Blog</a></h2><br>
    
  </div>
  
  <div class="container">
      {% for post in posts reversed %}
          <div class="jumbotron">
            <img class="rounded-circle profile" src="{{ post.author.profile.image.url }}" alt="">
            <div class="content">
              <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
              
                <h2>{{post.title}}</h2>
                <p><small>by {{post.author.username}}</small></p>
                <!--<h5>{{post.created_at}}</h5>-->
                
                
                {% if post.body|length >= 515 %}
                <div class="textcont">
                  <p>{{post.body|slice:"0:515"}}<span id="dots">...</span><span id="more">{{post.body|slice:"515:1000000"}}</span></p>
                  
                </div>
                
                {% else %}
                <div class="textcont">
                  <p class="text">{{post.body}}</p>
                </div>
                {% endif %}
              </a>
              {% if post.body|length >= 515 %}
              <button onclick="myFunction()" id="myBtn">Read more</button>
              {% else %}

              {% endif %}
            </div>
          </div>
          
      {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
