{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}"/>
    
  </head>

  <body>

  <div class="header">
    <div class="sidebar">
      {% if user.is_authenticated %}
      
      
      
      <div class="dropdown user text-center">
        <button class="btn btn-secondary profile_btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="rounded-circle pers_profile" src="{{ user.profile.image.url }}" alt="">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          
          <a class="dropdown-item" href="postedit">Make a Post</a>
          <a class="dropdown-item" href="logout">Log out</a>
        </div>
      </div>
      {% else %}
      <a href="login"><button type="button" class="btn btn-primary login">Login/Signup</button></a>
      {% endif %}
    </div>
    
    <h2><a style="text-decoration: none; color: black;" href="/">Test Blog</a></h2><br>
    
  </div>
  
  <div class="container">
      {% for post in posts reversed %}
          <div class="jumbotron">
            <img class="rounded-circle profile" src="{{ post.author.profile.image.url }}" alt="">
            <div class="content">
              <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
              
                <h2>{{post.title}}</h2>
                <p><small>by {{post.author.username}}</small></p>
                <!--<h5>{{post.created_at}}</h5>-->
                
                
                
                <div class="textcont">
                  <p>{{post.body}}</p>
                  
                </div>
                
                
              </a>
              
            </div>
          </div>
          
      {% endfor %}
  </div>
  
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
