{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" type ="text/css" href="{% static 'css/posts.css' %}"/>  
  </head>
  <body>
    <div class="header">
      <h2><a style="text-decoration: none; color: black;" href="/">Test Blog</a></h2><br>
    </div>
    
    <div class="jumbotron">
      <div class="container">
        <div class="posthead">
          <img class="rounded-circle profile" src="{{ posts.author.profile.image.url }}" alt="">
          <h1>{{posts.title}}</h1>
          <p><small>by {{posts.author.username}}</small></p>
        </div>

        <div class="textcont2">
          <p>{{posts.body}}</p>
        </div>

      </div>
    </div>
  </body>
</html>
