{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/post.css' %}"/>
  </head>
  <body>

    <div class="header">
      <h2><a style="text-decoration: none; color: black;" href="/">Test Blog</a></h2><br>
    </div>

    <div class="jumbotron">
      <div class="container">
        <form method="POST" action="postedit">
          {% csrf_token %}
          <h3>Make a New Post</h3>
          <p>Title</p>
          <input name="title" type="text"/><br>
          <p>Body</p>
          <textarea name="body" class="body" type="text" ></textarea>
          
          <div class="middle">
            <input class="btn btn-primary submit"type="submit" value="Post"/>
          </div>
        </form>
      </div>       
    </div>
  </body>
</html>
